@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Work+Sans:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

body.dark {
    background-color: #243441;
}


/* nav  */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 2rem;
}

.logo {
    flex: 1;
    font-size: 40px;
    font-family: 'Redressed', cursive;
}

.logo.dark {
    color: #fff;
}

#btn-dark,
#btn-light {
    padding: 18px 12px;
    border-radius: 50%;
    margin: 0 0.8rem;
    border: none;
    width: 50px;
    cursor: pointer;
    outline: none;
}

#btn-dark {
    background-color: #000;
}

#btn-light {
    background-color: #ddd;
}


/* heading text */

.ml9 {
    position: relative;
    text-align: center;
    font-weight: 400;
    font-size: 6em;
}

.ml9.dark {
    color: #fff;
}

.ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}


/* form input */

section {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.input-txt {
    padding: 1rem 2rem;
    font-size: larger;
    outline: none;
    border-radius: 1rem;
    background: #ffffff;
    border: none;
    /* box-shadow: -1px 1px 9px 2px #d6d6d6, -17px -17px 9px #ffffff; */
    box-shadow: 9.91px 9.91px 15px #E8E8E8, -6px 0px 13px #eeeeeeb8;
}

.input-txt:hover {
    /* box-shadow: inset 9.91px 9.91px 15px #E8E8E8, inset -9.91px -9.91px 15px #eeeeee70; */
    box-shadow: inset 2px 5px 9px #E8E8E8, inset -9.91px -9.91px 15px #eeeeee70;
}

.input-txt.dark {
    background: #243441;
    color: #fff;
    box-shadow: 9.91px 9.91px 15px #212F3B, -9.91px -9.91px 15px #273947;
}

.btn-submit {
    font-size: larger;
    border: none;
    border-radius: 2rem;
    outline: none;
    cursor: pointer;
    padding: 7px 0.7rem;
    box-shadow: -1px 1px 9px 2px #d6d6d6, -17px -17px 9px #ffffff;
    background: none;
    border-radius: 20%;
    box-shadow: 7px 9px 9px #E8E8E8, -6px 0px 13px #eeeeeeb8;
}

.btn-submit:hover {
    box-shadow: inset 2px 5px 9px #E8E8E8, inset -9.91px -9.91px 15px #eeeeee70;
}

.btn-submit.dark {
    background: #243441;
    box-shadow: 9.91px 9.91px 15px #212F3B, -9.91px -9.91px 15px #273947;
}


/* task list  */

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 1rem;
    width: 40%;
    margin: 2rem auto;
    padding: 5px 2rem;
    border-radius: 1rem;
    transition: all 0.5s ease;
    box-shadow: -1px 2px 9px #d6d6d6, 17px 17px 9px #ffffff;
    /* box-shadow: 7px 9px 9px #E8E8E8, -6px 0px 13px #eeeeeeb8; */
}

.todo-item:hover {
    box-shadow: inset 2px 5px 9px #E8E8E8, inset -9.91px -9.91px 15px #eeeeee70;
}

.todo-item.dark {
    background: rgb(36, 52, 65);
    box-shadow: rgb(33, 47, 59) 9.91px 9.91px 15px, rgb(39, 57, 71) -9.91px -9.91px 15px;
    color: #fff;
}

.left-div {
    flex: 1;
}

.todo-list {
    font-size: 2rem;
}

.btn-check img,
.btn-delete img {
    width: 55px;
    margin: 0 1rem;
    cursor: pointer;
    pointer-events: none;
}

.task-completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.date {
    text-align: center;
    margin: 2rem 0;
    font-size: larger;
    font-weight: 400;
}

.date.dark {
    color: #fff;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}


/*filter*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}


/* Custom Select */

.select {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    /* box-shadow: -1px 1px 9px 2px #d6d6d6, -17px -17px 9px #ffffff; */
    box-shadow: 7px 9px 9px #E8E8E8, -6px 0px 13px #eeeeeeb8;
}

.select:hover {
    box-shadow: inset 2px 5px 9px #E8E8E8, inset -9.91px -9.91px 15px #eeeeee70;
}

.select.dark {
    background: #243441;
    box-shadow: 9.91px 9.91px 15px #212F3B, -9.91px -9.91px 15px #273947;
    color: #fff;
}

select {
    color: #000;
    cursor: pointer;
    font-size: larger;
    margin: 1rem;
    width: 9rem;
}

select.dark {
    background: #243441;
    color: #fff;
}


/* Arrow */

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    pointer-events: none;
}

::placeholder.dark {
    color: #fff;
}


/* Transition 
.select:hover::after {
    transform: scale(1.5);
} */